{% extends 'base.html' %}
{% block content %}

<body>
<div class="Teams__card center">
          <h2>Rohan Lokhande</h2>
          <div class="social__icons1">
            
            <a href="https://www.instagram.com/_r_b_lokhande_/" class="social__icon--link"
              ><i class="fab fa-instagram"></i
            ></a>
            
            <a href="https://www.linkedin.com/" class="social__icon--link"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="https://twitter.com/" class="social__icon--link"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>
</div>
</body>

{% endblock content %}

</html>
