{% extends 'base.html' %}
{% block content %}

  <title>Resume Builder</title>
</head>

<body class="resume-form">
 

  <!-- Html code -->
  <div class="container" id="cv-form">
    <h1 class="text-center my-2">Resume Builder</h1>
    <p class="text-center">By Kaminarimon Company</p>

    <div class="row">

      <div class="col-md-6">
        <!-- first col -->
        <h3>Personal Details</h3>
        <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group mt-2">
          <label for="nameField">Your Name</label>
          <input type="text" name="name" id="nameField" placeholder="Enter here" class="form-control" />
        </div>

        <div class="form-group mt-2">
          <label for="contactField">Your Contact</label>
          <input type="text" name="contact" id="contactField" placeholder="Enter here" class="form-control" />
        </div>

        <div class="form-group mt-2">
          <label for="mailField">Email Address</label>
          <input type="email" name="email" id="mailField" placeholder="Enter here" class="form-control" />
        </div>

        <div class="form-group mt-2">
          <label for="addressField">Your Address</label>
          <textarea id="addressField" name="address" placeholder="Enter here" class="form-control" rows="5"></textarea>
        </div>
        
        <div class="form-group mt-3">
          <label for="">Profile Image</label>
          <input id="imgField" name="image" type="file" class="form-control">
        </div>
        
        <p class="text-secondary my-3">Important Links</p>

        <div class="form-group mt-2">
          <label for="linkedinField">Linkedin Link</label>
          <input type="text" name="linkedln" id="linkedField" placeholder="Enter here" class="form-control" />
        </div>

        <div class="form-group mt-2">
          <label for="gitField">Github Repository Link</label>
          <input type="text" name="github" id="gitField" placeholder="Enter here" class="form-control" />
        </div>

        <div class="form-group mt-2">
          <label for="instaField">Instagram Link</label>
          <input type="text" name="insta" id="instaField" placeholder="Enter here" class="form-control" />
        </div>

        
      
        <p class="text-secondary my-3 text-sm-center " >Skills</p>
          <div class="form-group row">
          <label for="" class="col-sm-3 col-form-label my-1">Skill Name :</label>
          <div class="col-sm-9">
          <input 
            type="text" 
            name="skill1"
            class="form-control" 
            id="skill_value1" 
            placeholder="Enter here">
          </div>
          </div>

          <div class="form-group row">
          <label for="" class="col-sm-3 col-form-label my-1">Skill Name :</label>
          <div class="col-sm-9">
          <input 
            type="text" 
            name="skill2"
            class="form-control" 
            id="skill_value2" 
            placeholder="Enter here">
          </div>
          </div>



      </div>
      <div class="col-md-6">
        <!-- second col -->
        <h3>Professional Information</h3>
        <div class="form-group mt-2">
          <label for="">Objective</label>
          <textarea placeholder="Enter here" name="objective" class="form-control" rows="3" id="objectiveField"></textarea>
        </div>

        <div class="form-group mt-2" id="we1">
          <label for="">Work Experience</label>
          <textarea placeholder="Enter here" name="work1"class="form-control weField" rows="2"></textarea>
        </div>

        <div class="form-group mt-2" id="we2">
          <textarea placeholder="Enter here" name="work2" class="form-control weField" rows="2"></textarea>
        </div>

        <div class="form-group mt-2" id="eq1">
          <label for="">Education and Qualifications</label>
          <textarea placeholder="Enter here" name="edu1" class="form-control eqField" rows="2"></textarea>
        </div>

        <div class="form-group mt-2" id="eq2">
          <textarea placeholder="Enter here" name="edu2" class="form-control eqField" rows="2"></textarea>
        </div>

        <div class="form-group mt-2" id="ih1">
          <label for="">Interests and Hobbies</label>
          <textarea placeholder="Enter here" name="ih1" class="form-control ihField" rows="2"></textarea>
        </div>
      
        <div class="form-group mt-2" id="ih2">
          <textarea placeholder="Enter here" name="ih2" class="form-control ihField" rows="2"></textarea>
        </div>

        <div class="form-group mt-2" id="ref">
          <label for="">References</label>
          <textarea placeholder="Enter here" name="ref" class="form-control refField" rows="3"></textarea>
        </div>


        <div class="form-group row mt-5">
          <label for="" class="col-sm-3 col-form-label my-1">Skill Name :</label>
          <div class="col-sm-9">
          <input 
            name='skill3'
            type="text" 
            class="form-control" 
            id="skill_value3" 
            placeholder="Enter here">
          </div>
          </div>

          <div class="form-group row">
          <label for="" class="col-sm-3 col-form-label my-1">Skill Name :</label>
          <div class="col-sm-9">
          <input 
            name='skill4'
            type="text" 
            class="form-control" 
            id="skill_value4" 
            placeholder="Enter here">
          </div>
          </div>
      </div>
    </div>

    </div>
  </div>
  <div class="container text-center mt-5 mb-5" >
    <a href="{% url 'carousal'%}">
      <button type='submit' class="btn btn-dark btn-lg">Generate CV</button>
    </a>
  </div>
  </form>

</body>
{% endblock content %}

</html>